.div1 {
  height: 200px;
  width: 200px;
  background-color: rgba(255, 0, 0, 0.5);
}

.div2 {
  margin-top: 20px;
  height: 200px;
  width: 200px;
  background-color: red;
  opacity: 0.5;
}

.div3 {
  margin: 0 auto;
  margin-top: 20px;
  height: 200px;
  width: 200px;
  background-color: red;
  transition: 2s ease-in-out 0.2s;
}

.div3:hover {
  border-radius: 50%;
  background-color: green;
}

.div4 {
  margin: 0 auto;
  margin-top: 50px;
  height: 200px;
  width: 200px;
  transform: rotate(45deg) scale(2) translateY(100px) skew(45deg);
  background-color: green;
}

.div5 {
  margin-top: 40px;
  margin-left: 20px;
  height: 200px;
  width: 200px;
  background-color: aqua;
  transition: all 1s ease-in-out 0.2s;
}

.div5:hover {
  box-shadow: 5px 5px 10px aqua;
  transform: translateY(-20px);
}

.div6 {
  margin: 20px;
  height: 300px;
  width: 300px;
  background-image: url("erik-mclean-ZRns2R5azu0-unsplash.jpg");
  background-size: cover;
}

.div7 {
  margin: 50px;
  height: 300px;
  width: 300px;
  background-color: orange;
  position: relative;
  top: 500px;
  left: 500px;
}
